SPOTIFY_CLIENT_ID=YOUR_CLIENT_ID_HERE
SPOTIFY_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/auth/spotify/callback
SPOTIFY_SCOPES="user-library-read user-top-read playlist-modify-public playlist-modify-private"